<div class="table-list">
    <table>
        <tr>
            <th>Subscription</th>
            <th>Most recent action</th>
        </tr>
        <tr>
            <td>Sub1</td>
            <td>Action1</td>
        </tr>
        <tr>
            <td>Sub2</td>
            <td>Action2</td>
        </tr>
        <tr>
            <td>Sub3</td>
            <td>Action3</td>
        </tr>
        <tr>
            <td>Sub4</td>
            <td>Action4</td>
        </tr>
        <tr>
            <td>Sub5</td>
            <td>Action5</td>
        </tr>
    </table>
</div>